In [1]:
### Home Price Prediction Model with Multiple variables
## Find out price of a House that has:
#1)     3000 sqr ft area, 3 bedroom , 40 years old
#2)     2500 sqr ft  area , 4 bedroom , 5 years old

#importing he relevant libraries

import pandas as pd
import numpy as np
from sklearn import linear_model

In [4]:
#imoring the relevant  CSV file containing  'area', 'bedrooms, ' age of property' and 'price'
df=pd.read_csv("C:\\Users\\user\\Documents\\PythonPractiseFiles\\home_price_factors.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [7]:
#imported math function to get the median of the coloumn bedroom so as to fill at the "NaN" place

import math
median_bedrooms=math.floor(df.bedrooms.median())
median_bedrooms

3

In [9]:
#using Fill.na function to replace na value with median
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [11]:
#fitting the regression model with independent parameters ( area, bedrooms, age) and modeling for dependent parameter (price)
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [12]:
# now predicting for the price when area = 3000, bedrooms = 3 , age of house = 40
reg.predict([[3000,3,40]])

C:\Users\user\Documents\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([444400.])

In [15]:
# We got the answer  : 444400

# now geting prediction for othe parameters

reg.predict([[2500,4,5]])

C:\Users\user\Documents\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([588625.])

In [ ]:
#answer for this is : 588625